/** Amadou 3.x 
*/

/* ===== IE6 is miserable - please stop using it. ===== */

/*----side bars-----*/
#leftSidebar 
{
	float:left;
	margin:0 0 0 10px;
	padding:0;
	width:180px;
}

#rightSidebar 
{
	float:left;
	margin:0;
	padding:0 0 0 20px;
	width:180px;
}


/*----------search box----------*/

#searchBox
{
	height:25px;
	position:relative;
	left:746px;
	white-space:nowrap;
	margin:-40px 4px 0 0 ;
	padding:0 0 16px;
	width:190px;
}

div.admin .right 
{
	float:right;
	margin-right:0.5em;
	width:46%;
}