/** Amadou 3.x
*/

@import "layout.css";
@import "icons.css";

body
{
	background:url('images/header-bg.png');
	background-repeat:repeat-x;
	color:#5a5a5a;
	font-family:Arial,Helvetica,sans-serif;
	font-size:76%;
	font-size-adjust:none;
	font-stretch:normal;
	line-height:1.6em;
	margin:0;
	padding:0;
}

input 
{
	font: 12px/100% "Arial";
	color: #494949;
}

textarea, select 
{
	font: 12px/160% "Arial";
	color: #494949;
}

h1,h2,h3,h4,h5,h6
{
	font-weight:normal;
	margin:0;
	padding:0;
	text-transform:lowercase;
}

h3,h4,h5,h6
{
	color:#013466;
}

h3 
{
	font-size: 140%;
}

h4 
{
	font-size: 130%;
}

h5 
{
	font-size: 120%;
}

h6 
{
	font-size: 110%;
}

ul, quote, code, fieldset 
{
	margin: .5em 0;
}

p 
{
	font-size:1.23em;
	line-height:1.6em;
	margin: 0.6em 0 1.2em;
	padding: 0;
}

a
{
	color:#254694;
	text-decoration:none;	
}

a:hover
{
	color:#4FA3F9;
	text-decoration:underline;
}


/*----------site logo, site name, & site slogan----------*/
.logo
{
	float:left;
	padding:0 1em 0 0;
	margin:0;
}

#header h1
{
	color:#fff;
	font-size:4.75em;
	letter-spacing:2px;
	line-height:1.2em;
	margin:0;
	padding:0;
	text-transform:lowercase;
	white-space:nowrap;
}

#header h1 a
{
	color:#fff;
	text-decoration:none;
}

#header h2
{
	color:#fff;
	font-size:1.85em;
	letter-spacing:2px;
	margin:0;
	padding:0.25em 0 0;
	text-transform:lowercase;
	white-space:nowrap;
}


/*----------primary links---located in header----------*/
#menu
{
	color:#fff;
	font-size:1.23em;
	font-weight:normal;
	height:20px;
	line-height:1.3em;
	letter-spacing:1px;
	margin: 0;
	padding:0;
	white-space:nowrap;
}

#menu ul
{
	float:right;
	list-style:none outside none;
	list-style-image:none;
	margin:0;
	padding:0;
}

#menu li
{
	background-image: none;
	display:inline;
	margin:0;
	padding: 0 0 2px;
}

#menu li a
{
	border:medium none;
	color:#ccc;
	font-weight:normal;
	padding:3px 10px;
	text-decoration:none;
}

#menu li a:hover, #menu li a.active 
{
	background:#30487F none repeat;
	border:medium none;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
	color:#fff;
	padding-left:9px;
	padding-right:9px;
}


/*----------mainContent----------*/
#mainContent h2
{
	border-bottom:1px solid #ccc;
	color:#263559;
	font-size:2.2em;
	font-weight:normal;
	line-height:1.2em;
	margin:0;
	padding:0;
}

#mainContent h2 a
{
	color:#263559;
	text-decoration:none;
}

#mainContent h2 a:hover
{
	color:#4FA3F9;
	text-decoration:none;
}


/*----------sideBars----------*/
#sideBars 
{
	font-size:1.10em;
}

#sideBars h2
{
	border-bottom:1px solid #ccc;
	font-size:140%;
	font-weight:normal;
	line-height:1.3em;
	margin:0.3em 0 0.55em;
	padding:0;
}


/*---------- page styles----------*/
.pageTitle
{
	font-size:2.5em;
	line-height:1.2em;
	margin-bottom:0.65em;
}

.mission
{	background-color:#F7F7F7;
	border:1px solid #ccc;
	color:#354A7B;
	font-family:"Trebuchet MS",sans-serif;
	font-size:1.15em;
	line-height:1.5em;
	margin:0.32em 0 0.85em;
	padding:1em;
}

.breadcrumb {
	font-size:1.05em;
	margin:0.32em 0 0.32em;
	padding:0;
}

.messages
{
	color:#9F0000;
	margin:0.32em 0;
}

.commentTitle
{
	font-size:1.5em;
}

.comment
{
	background-color:#F7F7F7;
	border:1px solid #ccc;
	margin:0 0 2em;
	padding:1em;
}

.block
{
	margin:0 0 1.5em;
	padding:0;
}


/*----------node styles----------*/
.node
{
  border-bottom:1px solid #ccc;
	margin:0 0 2.5em;
	padding:0;
}

h3,h4,h5,h6,.nodeTitle a
{
	color:#013466;
}

.nodeTitle a:hover
{
	color:#3670A8;
	text-decoration:none;
}

.taxonomy  /* tag icon for taxonomy located in icons.css */
{
	clear:left;
	font-size:1em;
	padding:0 0 0.5em 2.5em;
}

.submitted 
{
	font-size:1em;
	padding:0 0 0 1em;
}

#mainContent .content
{
	padding:0.8em 0.8em 0;
}

.node .links
{
	font-size:1.2em;
	padding:0.35em;
	margin:0;
}

.picture
{
  float:right;
  padding-left:1em;
}


/**
* search box 
*
* this needs some major work - this is only a temporary solution
*/
#searchBox
{
	height:25px;
	position:relative;
	left:655px;
	white-space:nowrap;
	margin:-40px 4px 0 0 ;
	padding:0 0 16px;
	width:190px;
}

#searchBox .form-text
{
	border:1px solid #00609d;
	margin:0;
	padding:0;
	width:132px;
}

#searchBox .form-submit
{
	background:#eee;
	border:1px solid #00609d;
	color:#333;
	font:1.2em Arial, sans-serif;
	margin:0;
	padding:0;
}


/*#searchBox
{
	background:url('images/search-bg.png') no-repeat 0 0;
	height:65px;
	position:relative;
	left:739px;
	white-space:nowrap;
	margin:-66px 4px 0 0 ;
	width:250px;
}

#searchBox div.wrap
{
	left:0;
	padding:16px 0 0 14px;
	position:relative;
	top:1px;
	width:250px;
}

#searchBox .form-text
{
	border:1px solid #00609d;
	margin:0;
	width:132px;
}

#searchBox .form-submit
{
	background:#eee;
	border:1px solid #00609d;
	color:#333;
	font:1em Arial, sans-serif;
	margin:0;
	padding:0;
}

#searchBox .form-item
{
	display:inline;
	margin:0;
}*/


/*----------list styles----------*/
ul 
{
	margin: 0.5em 0 1em;
	padding: 0;
}

ol 
{
	margin: 0.75em 0 1.25em;
	padding: 0;
}

ol li, ul li 
{
	margin: 0.4em 0 0.4em .5em;
}

ul.menu, .item-list ul 
{
	margin: 0.35em 0 0 -0.5em;
	padding: 0;
}

ul.menu ul, .item-list ul ul 
{
	margin-left: 0em;
}

ol li, ul li, ul.menu li, .item-list ul li, li.leaf 
{
	margin: 0.15em 0 0.15em .5em;
}

/*ul li,*/ ul.menu li, .item-list ul li, li.leaf 
{
	padding: 0 0 .2em 1.5em;
	list-style-type: none;
	list-style-image: none;
	background: transparent url('images/menu-leaf.gif') no-repeat 1px .35em;
}

ol li 
{
	padding: 0 0 .3em;
	margin-left: 2em;
}

ul li.expanded 
{
	background: transparent url('images/menu-expanded.gif') no-repeat 1px .35em;
}

ul li.collapsed 
{
	background: transparent url('images/menu-collapsed.gif') no-repeat 0px .35em;
}

ul li.leaf a, ul li.expanded a, ul li.collapsed a 
{
	display: block;
}

ul.inline li 
{
	background: none;
	margin: 0;
	padding: 0 1em 0 0;
}

ol.task-list 
{
	margin-left: 0;
	list-style-type: none;
	list-style-image: none;
}
ol.task-list li 
{
	padding: 0.5em 1em 0.5em 2em;
}
ol.task-list li.active 
{
	background: transparent url('images/task-list.png') no-repeat 3px 50%;
}
ol.task-list li.done 
{
	color: #393;
	background: transparent url('../../misc/watchdog-ok.png') no-repeat 0px 50%;
}
ol.task-list li.active 
{
	margin-right: 1em;
}

fieldset ul.clear-block li 
{
	margin: 0;
	padding: 0;
	background-image: none;
}


/*----------other styles----------*/
hr 
{
	margin: 0;
	padding: 0;
	border: none;
	height: 1px;
	background: #5294c1;
}

dl 
{
	margin: 0.5em 0 1em 1.5em;
}

dl dd 
{
	margin: 0 0 .5em 1.5em;
}

span.form-required 
{
	color: #ffae00;
}

.description 
{
	font-size: 0.92em;
	color: #5A5A5A;
	margin-bottom: 0.75em;
}

.messages ul 
{
	margin: 0;
}

.form-checkboxes, .form-radios, .form-checkboxes .form-item, .form-radios .form-item 
{
	margin: 0.25em 0;
}

#center form 
{
	margin-bottom: 2em;
}

.form-button, .form-submit 
{
	margin: 0.5em 0.5em 1em 0;
}

#watchdog-form-overview .form-submit,
.confirmation .form-submit,
.search-form .form-submit,
.poll .form-submit,
fieldset .form-button, fieldset .form-submit,
.sidebar .form-button, .sidebar .form-submit,
table .form-button, table .form-submit 
{
	margin: 0;
}

.box 
{
	margin-bottom: 2.5em;
}

div.admin 
{
	margin:0;
	padding:0;
}

blockquote
{
	color:#354A7B;
	font-style:italic;
	margin:0 0 0 12px;
	padding:12px;
}


/*---------------image & image_gallery styles----------*/
img, a img 
{
  	border: none;
	padding:3px
}

.thumbnail,.preview
{
	border:1px solid #ccc;
	
}

ul.galleries 
{
	list-style-type : none;
	margin : 0;
	padding : 0;
}

ul.galleries img.image
{
	float:left;
	margin:0 12px 12px 0;
}

ul.galleries li 
{
	background : #F7F7F7;
	border : 1px #cccccc solid;
	margin : 1em 0;
	padding : 1em;
}

ul.galleries li div.count 
{
	clear : both;
}

ul.galleries h3 
{
	font-size:2.5em;
	line-height:1.10em;
	margin : 0;
	padding : 0;
}

ul.images 
{
	list-style-type : none;
	margin : 0;
	padding : 0;
}

ul.images li 
{
	float : left;
	margin : 1em;
	padding: 20px 20px 60px;
}


/*---------------user-login-form---let's get rid of the center alignment---------------*/
#user-login-form 
{
	margin:0;
	padding:0 0 0 10px;
	text-align:left;
}

.form-item 
{
	text-align:left;
	margin:0;
	padding:0;
}


/*---------------TinyMCE editor---------------*/
body.mceContentBody
{
	background:#fff;
	color:#000;
	font-size:12px;
}

body.mceContentBody a:link
{
	color:#ff0000;
}


/*---------------table styles---------------*/
table
{
	margin:1em 0;
	width:100%;
}

thead th
{
	border-bottom:2px solid #AAAAAA;
	color:#494949;
	font-weight:bold;
}

td,th
{
	padding:.3em 0 .5em;
}

tr.even,tr.odd,tbody th
{
	border:solid #D5D6D7;
	border-width:1px 0;
}

tr.even
{
	background-color:#fff;
}

td.region,td.module,td.container
{
	background-color:#CDD6DE;
	border-bottom:1px solid #AAAAAA;
	border-top:1.5em solid #fff;
	color:#455067;
	font-weight:bold;
}

tr:first-child td.region,tr:first-child td.module,tr:first-child td.container
{
	border-top-width:0;
}

td.menu-disabled,td.menu-disabled a
{
	background-color:#D5C2C2;
	color:#000;
}
